.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  ul {
    margin: 5;
    padding: 5;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: #e70b84;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  